
<div>
    <button (click)="addUnit()">新建入驻单位</button>
</div>
<ag-grid-angular #unitGrid 
                style="width: 100%; height: 500px;" class="ag-theme-material"
                enableColResize                
                rowHeight="52"                
                [gridOptions]="gridOptions">
</ag-grid-angular>

<ngb-pagination [hidden]="totalElement == 0" (pageChange)="changePage($event)" [maxSize]="5" [pageSize]="50" [collectionSize]="totalElement" [(page)]="parameter.currentPage"  [rotate]="true" [boundaryLinks]="false"></ngb-pagination>