<div [@routeAnimation]="routeAnimation" *ngIf="selectTotal > 0" class="uploadMessage" [ngClass]="{showUploadMessage:showUploadContainer}">
    <div class="home--upload--wrap">
      <div class="home--upload--head--box">        
          <div class="option--btn--box">
            <span [hidden]="showUploadContainer" (click)="toggleWindow();" >
              <span class="fa fa-minus"></span>
            </span>
            <span [hidden]="!showUploadContainer" (click)="toggleWindow()" >
               <span class="fa fa-window-maximize"></span>
            </span>
            <span (click)="removeAllFiles();closePopup()">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </div>
        </div>
        <div class="home--upload--table--box--wrap fixed-table" [ngClass]="{showUploadContainer:showUploadContainer}">
          <div class="fixed-table-header"></div>
          <div class="fixed-table-content">
            <table class="table table-hover home--upload--table--box" >
              <thead>
                <tr class="table__th--tr">
                  <th ><div class="th-inner upload--table--file--name--td">文件名</div></th>
                  <th ><div class="th-inner">文件大小</div></th>
                  <th ><div class="th-inner">状态</div></th>
                  <th class="option--th"><div class="th-inner">操作</div></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="uploader">
                    <tr *ngFor="let file of uploader.queue; let i = index">
                        <td title="{{file._file.name}}"><div class="upload--table--file--name--td">{{file._file.name}}</div></td>
                        <td>{{file.file.size | sizefilter}}</td>                      
                        <td>
                          <span *ngIf="file.isError" class="fa fa-exclamation-circle status--prompt--icon" style="color: #cd624c"></span>
                          <span *ngIf="file.isSuccess" class="fa fa-check-circle status--prompt--icon" style="color: #56DA90"></span>
                        <span *ngIf="file.isUploading">
                          {{file.progress}}%
                        </span>
                        <span *ngIf="file.isReady && !file.isUploading">
                            排队中...
                        </span>
                        </td>
                        <td >
                          <div [hidden]="file.isSuccess">
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="file.upload()" [disabled]="file.isReady || file.isUploading || file.isSuccess">
                              <span class="glyphicon glyphicon-upload"></span> 上传
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="file.cancel()" [disabled]="!file.isUploading">
                              <span class="glyphicon glyphicon-ban-circle"></span> 取消
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="file.remove()">
                              <span class="glyphicon glyphicon-trash"></span> 移除
                            </button>
                          </div>
                        </td>
                      </tr>
                </ng-container>    
              </tbody>
          </table>
          </div>
        </div>
    </div>
  </div>
  