<mat-slider
        style="position: absolute;"
        class="example-margin"
        [(ngModel)]="slidSize"
        [step]="1"
        [max]="15"
        [min]="5"        
        [vertical]="true">
</mat-slider>

<div collapsibleTree 
(updateName)="updateName($event)"
(addBlock)="addBlock($event)"
(addNode)="addNode($event)"
(nodeDelete)="nodeDelete($event)"
(addFile)="addFile($event)"
(editFile)="editFile($event)"
(addCustomData)="addCustomData($event)"
[nodes]="nodes" [editAble]="editAble"
[hasNode]="hasNode"
[slidSize]="slidSize/10"
>

</div>