<div class="main--content--area--wrap clearfix">
    <div class="sidebar--two--level-wrap pull-left">
        <ul>
            <li routerLinkActive="active">
                <a routerLink="./userManage">用户管理</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="./departManage">部门管理</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="./unitManage">入驻单位管理</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="./unitBaseInfo">单位基本信息</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
