<div>
  <button (click)="editBaseInfo()">编辑基本信息</button>
</div>
<div>
  <ul>
    <li>
      <span>单位名称</span>
      <span>{{unitInfo.unitDisplayName}}</span>
    </li>
    <li>
      <span>单位性质</span>
      <span>{{unitInfo.unitStyleName}}</span>
    </li>
    <li>
      <span>全宗号</span>
      <span>{{unitInfo.fonds}}</span>
    </li>
    <li>
      <span>组织机构代码</span>
      <span>{{unitInfo.unitCode}}</span>
    </li>
    <li>
      <span>单位负责人</span>
      <span>{{unitInfo.unitOfficer}}</span>
    </li>
    <li>
      <span>单位地址</span>
      <span>{{unitInfo.unitAddress}}</span>
    </li>
    <li>
      <span>联系电话</span>
      <span>{{unitInfo.unitTel}}</span>
    </li>
    <li>
      <span>传真</span>
      <span>{{unitInfo.unitFax}}</span>
    </li>
    <li>
      <span>电子邮件</span>
      <span>{{unitInfo.unitEmail}}</span>
    </li>
    <li>
      <span>网站地址</span>
      <span>{{unitInfo.unitUrl}}</span>
    </li>
    <li>
      <span>邮编</span>
      <span>{{unitInfo.postcode}}</span>
    </li>
  </ul>
</div>